[submodule "engine-common"]
	path = engine-common
	url = https://github.com/xamlo721/engine-common.git
[submodule "engine-graphics"]
	path = engine-graphics
	url = https://github.com/xamlo721/engine-graphics.git
[submodule "engine-world"]
	path = engine-world
	url = https://github.com/xamlo721/engine-world.git
[submodule "engine"]
	path = engine
	url = https://github.com/xamlo721/engine.git
